<!DOCTYPE html>
<html>
    
    <head>
        <style>
            .boxed {
                border: 4px solid green;
            }
            
            hi {
                font-size: 300%;
            }
            
            subtitle {
                font-size: 150%;
            }
            body {  
                font-family: "Monospace", monospace;
            }
            
            .boxed1 {
                font-weight: bold;
            }
            
                        
            .boxed2 {
                font-weight: bold;
            }
            
        </style>
        <title>
            Cite It!    
        </title>
    </head>

    <body background="Wooden-Background.jpg">
        {{{ body }}}
    </body>
</html>

