
        
        {{#if user}}

            <script src="serverStorage.js">
                
            </script>
       

        {{else }}


        <script src="storage.js">

        </script>
                
        {{/if}}

        <script>
          
    
            function handlesubmit() {

                document.getElementById("citation").innerText = document.getElementById("authorln").value + ", " + document.getElementById("authorfn").value.charAt(0) + ". (" + document.getElementById("year").value + "). " + document.getElementById("book").value + " (Ed. " + document.getElementById("volume").value + ", Vol. " + document.getElementById("volume").value + "). " + document.getElementById("city").value + ", " + document.getElementById("state").value + ": " + document.getElementById("publisher").value;
                //document.getElementById("annotation").value = "";
            }
                     
            function saveCitation() {
              storageClient.addCitation(document.getElementById("citation").innerText);
            }
            
            console.log(storageClient);
        
        </script>

        <p>
            
            <center>
                
                  Author's First Name:
                  <input type="text" id="authorfn"><br>
                  Author's Last Name:
                  <input type="text" id="authorln"> <br>
                  <br>
                
                    
                  Book Title:    
                  <input type="text" id="book"><br>
                  <br>
                
                  Advanced Info<br>
                  Volume:
                  <input type="text" id="volume"> <br>
                  Edition:
                  <input type="text" id="edition"><br>
                <br>
                
                    
                  Publication Info <br>
                  Publisher:
                  <input type="text" id="publisher"> <br>
                  City:
                  <input type="text" id="city"><br>
                  State:
                  <input type="text" id="state"><br>
                  Year:
                  <input type="text" id="year"><br>
                  <br>
                
                    
                    <button onclick="handlesubmit()">Generate Citation</button>

            </center>
            
            <p id="citation">
                
            </p>
            
            <div>
                <center> 
                    <button onclick="saveCitation()">Save My Citation</button>
                
                 <a href='/book'> 
                    <button>Re-Do</button>
                 </a>
                
                <a href='/citationgeneration'> 
                    <button>Fill Out a Different Citation</button>
                </a>
                    </center>
            </div>
            
        </p>

    <a href="/viewcitations"> 
                <button> 
                    View My Citations
                </button>
        </a>



