
        
        {{#if user}}

            <script src="serverStorage.js">
                
            </script>
       

        {{else }}


        <script src="storage.js">

        </script>
                
        {{/if}}

        <script>
          
    
            function handlesubmit() {

                document.getElementById("citation").innerText = document.getElementById("annotation").value + " " + document.getElementById("substr").value;
                //document.getElementById("annotation").value = "";
            }
                     
            function saveCitation() {
              storageClient.addCitation(document.getElementById("citation").innerText);
            }
            
            console.log(storageClient);
        
        </script>

        <selection>
            
            <center>
                    
                  Add Annotation:    
                  <input type="text" id="annotation"><br>
                  <br>
                
                  Add substring:    
                  <input type="text" id="substr"><br>
                  <br>
                    
                    <button onclick="handlesubmit()">Generate Citation</button>

            </center>
            
            <p id="citation">
                
            </p>
            
            <div>
                <center> 
                    <button onclick="saveCitation()">Save My Citation</button>
                
                 <a href='/book'> 
                    <button>Re-Do</button>
                 </a>
                
                <a href='/citationgeneration'> 
                    <button>Fill Out a Different Citation</button>
                </a>
                    </center>
            </div>
            
        </selection>

    <a href="/viewcitations"> 
                <button> 
                    View My Citations
                </button>
        </a>



