
        <selection>
            <center>

                Please select the type of source that you would like to cite. <br>
                <p><a href="/journal">Journal</a></p> <br>
                <p><a href="/website">Website</a></p> <br>
                <p><a href="/book">Book</a></p> <br>
               
            </center>
        </selection>
        
        <script src="login.js">
        
        </script>

