

        
        <script src="login.js">
        
        </script>
        
        <p> 


        
       <div class="boxed2">
            Create an Account    
        </div>
             
        
        <form method="post" action="/createaccount">
              Username:
              <input type="text" name="username"><br>
              Password:
              <input type="password" name="password"><br>
              Confirm Password:
              <input type="password"><br>
              <input type="submit" value="Submit">
        </form>

        <p class="error"> 
            {{error}}

        </p>


            <style>           
                
                .error {
                    color: red;
                    font-size: 75%;
                }          
            </style>
 
        </p>

