
        <p> 
 

    
            <center> 
        
            <p><a href="/login">Login</a> for existing users</p>

            <p><a href="/create">Create an account</a> for new users</p>
                
            <p><a href="/citationgeneration">Cite It!</a> as a guest</p>
                
            </center>


        </p>