
        <selection>
            <center>

                Please select where you found your journal article. <br>
                <p><a href="/journalprint">In Print</a></p> <br>
                <p><a href="/journalonline">Online</a></p> <br>
           
            </center>
        </selection>
        
        <script src="login.js">
        
        </script>

