        
        <script src="login.js">
        
        </script>
        
        <p> 

        
        <div class="boxed1">
            Login    
        </div>
            
        <form method="post" action="/login">
            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"><br>
            <input type="submit" value="Submit">
        </form>
        
        <br>

       
        </p>

        <p class="error"> 
            {{error}}

        </p>


            <style>           
                
                .error {
                    color: red;
                    font-size: 75%;
                }          
            </style>
 