   <div class="boxed"> 
            <center>
                <hi> 
                    Cite It!
                </hi>
   
            </center>
            
            <subtitle> 
                <center> 
                    APA Citation Generator
                </center>
            </subtitle>
        </div>
        

        
        <script src="login.js">
        
        </script>
        
        <p> 

        
        <div class="boxed1">
            Login    
        </div>
            
        <form method="post" action="/login">
            Username: <input type="text" username="username"><br>
            Password: <input type="password" password="password"><br>
            <input type="submit" value="Submit">
        </form>
        
        <br>

       
        </p>