
        <selection>
            <center>

                Please select where you found your journal article. <br><br>
                <j><a href="/onfilm">On Film<a></j> <br><br>
                <w><a href="/videoonline">Online</a></w> <br><br>
                <t><a href="/videodb">Online Database</t></w> <br><br>
            </center>
        </selection>
        
        <script src="login.js">
        
        </script>

