
        <div class="boxed"> 
            <center>
                <hi> 
                    Cite It!
                </hi>
   
            </center>
            
            <subtitle> 
                <center> 
                    APA Citation Generator
                </center>
            </subtitle>
        </div>
        
        <br>
        
        <selection>
            <center>
                <form method="post" action="/createaccount">
                  Article Title:
                  <input type="text" name="article"><br>
                  <br>
                  Author:
                  <input type="text" name="author"><br>
                  <br>
                  Website Title:    
                  <input type="text" name="webpage"><br>
                  <br>
                  <input type="submit" value="Generate Citation">
                </form>
            </center>
        </selection>
        
        <script src="login.js">
        
        </script>

