        <selection>
            <center>
                <form method="post" action="/createaccount">
                  Article Title:
                  <input type="text" name="article"><br>
                  <br>
                    
                  Author's Last Name:
                  <input type="text" name="authorln"> <br>
                  Author's First Name:
                  <input type="text" name="authorfn"><br>
                  <br>
                    
                  Date of Publication <br>
                  Day:
                  <input type="text" name="day1"> <br>
                  Month:
                  <input type="text" name="month1"><br>
                  Year:
                  <input type="text" name="year1"><br>
                  <br>
                    
                  Date Accessed <br>
                  Day:
                  <input type="text" name="day2"> <br>
                  Month:
                  <input type="text" name="month2"><br>
                  Year:
                  <input type="text" name="year22"><br>
                  <br>
                    
                  Website Title:    
                  <input type="text" name="webpage"><br>
                  <br>
                    
                  Publisher / Sponsor:    
                  <input type="text" name="publisher"><br>
                  <br>
                    
                  URL:   
                  <input type="text" name="url"><br>
                  <br>
                    
                  Date Published:    
                  <input type="text" name="date"><br>
                  <br>
                    
                  Add Annotation:    
                  <input type="text" name="annotation"><br>
                  <br>
                    
                  <input type="submit" value="Generate Citation">
                </form>
            </center>
        </selection>
        
        <script src="login.js">
        
        </script>

